#page-content-wrapper {
    background-color: #fcfcfc;
}

#tagsDivide {
    width: 30% !important;
    text-align: left;
}

#title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#evolution-wrapper, #growth {
    display: flex;
    justify-content: left;
}

.inputrow {
    justify-content: left;
}

#dropdown-year-country {
    margin-left: 10px;
    margin-top: 5px;
}

.bootstrap-tagsinput {
    margin-top: 0 !important;
}

#filter-input-divide, #filter-input-evolution{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: left;
}

.subtitle {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom: 1px solid #ddd;
}

#info-evolution {
    margin-left: 0;
    padding-left: 120px;
}

#comparison {
    text-align: right;
    margin-right: 40px;
}

#labelComparison {
    font-weight: normal;
    padding-right: 5px;
}

#country1, #country2 {
    writing-mode: tb-rl;
    transform: rotate(180deg);
    color: grey;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 30px;
    font-weight: normal;
    font-size: 20px;
}

.donut-col {
    display: flex;
    justify-content: left;
}

#comparison-row {
    display: none;
}