.pie {
    margin-left: 100px;
    margin-top: 50px;
}

.pie text {
    font-family: "Verdana";
    fill: #888;
}

.pie .name-text{
    font-size: 1em;
}

.pie .amount-text{
    font-size: 3em;
}

.donut-col {
    display: flex;
    justify-content: left;
}