#page-content-wrapper {
    background-color: #fcfcfc;
}

#title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropdown-subject-btn {
    margin-left: 10px;
    margin-top: 5px;
}

#stacked-bar-chart {
    margin-right:15%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.axis .domain {
    display: none;
}

#stacked-bar-chart {
    margin-left: 150px;
}

.chart {
    margin: 10px;
    padding-top: 10px;
}

.chart .left {
    stroke: white;
    fill: #4693C5;
}

.chart .right {
    stroke: white;
    fill: #FD1A44;
}
.chart text.name {
    fill: black;
}

.chart text.title {
    font-weight: bold;
}