#worldmap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    padding-bottom: 40% !important;
    padding-top: 35px;
}

.fixed-table-container {
    padding-bottom: 40px !important;
}

.fixed-table-header {
    background-color: #f1f1f1;
}

.fixed-table-body {
    background-color: white;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.inline {
    margin-top: 8px;
    margin-left: 5px;
}

#min {
    margin-left: 30%;
}

#gradient {
    height: 20px;
    width: 150px;
    border: 1px solid black;
    background: linear-gradient(to right, #ffffff 0%, #ff0006 100%);
}

#amount {
    margin-top: 8px;
    margin-left: 30px;
    margin-right: 30px;
}

#title-wrapper {
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

#title {
    font-size: 2.5rem;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

#range_year {
    margin-left: auto;
    margin-right: auto;
}

#filter-input {
    text-align: center;
}

#total {
    font-size: 2rem;
}

.dropdown {
    width: 200px;
    height: 34px;
}

#dropdown-year-btn, #dropdown-sort-edu-btn, #dropdown-sort-edu-btn-evo {
    border-color:#ccc;
    box-shadow:0 0 0 0;
    height: 34px;
    width: 100%;
    font-size: 14px;
}

.caret {
    color: #999;
    float: right;
    margin-top: 7px;
}

.icons {
    padding-right: 0;
    height: 34px;
    border-color: #fcfcfc !important;
    background-color: #fcfcfc;
    box-shadow: none;
    border-style: solid;
    outline: none;
}
.subtitle {
    font-size: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom: 1px solid #ddd;
}

#filter-input {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: left;
}

.filter-option {
    text-align: center !important;
}

.dropdown-toggle {
    border-radius: 3px !important;
}

#tags {
    background-color: #fcfcfc !important;
}

#deleteFilters {
    background-color: #fcfcfc !important;
    border: none !important;
}

.inputrow input:focus {
    color: transparent;
    text-shadow: 0 0 0 #666;
}

.inputrow input {
    cursor: default !important;
}

.bootstrap-tagsinput {
    cursor: default !important;
    border-radius: 3px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
    width: 90% !important;
    margin-top: 5px !important;
    border: 0 !important;
    box-shadow: none !important;
    background-color: #fcfcfc !important;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: black !important;
}

#evolution-wrapper, #growth {
    display: flex;
    justify-content: left;
}

.inputrow {
    justify-content: left;
}

#dropdown-year-country {
    margin-left: 10px;
    margin-top: 5px;
}

.bootstrap-tagsinput {
    margin-top: 0 !important;
}

#filter-input-divide, #filter-input-evolution{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: left;
}

#info-evolution {
    margin-left: 120px;
    margin-top: 50px;
}

.up {
    color: green;
}

.down {
    color: red;
}

.type-growth {
    font-size: 1.3em;
    border-bottom: 1px solid #ddd;
}

#annual-growth, #total-growth {
    font-size: 2em;
}

.percentage1 {
    font-size: 0.7em;
}

.percentage2 {
    font-size: 1em;
}

#growth-total-wrapper {
    margin-left: 60px;
}

#growth-annual-wrapper, #growth-total-wrapper {
    width: 200px;
}


#iso-col {
    margin-left: auto;
    margin-right: auto;
}

#table-wrapper {
    width: 500px;
    margin: 30px auto;
}

#toggle-buttons {
    margin-left: 5%;
}

.bootstrap-table {
    border-bottom: 1px solid rgb(221, 221, 221);
}